<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CL Scribe</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
 <h1>I'm Collin.</h1>
 <h1>{{ num }}</h1>

 <form action="/login" method="post">
     <input type="text"
            name="file_name"
            placeholder="Name of File">

     <input type="text"
            name="greeting"
            placeholder="Greeting">

     <input type="submit">
 </form>

</body>
<footer>
    <p>Copyright cdhcreate {{ cpr }}</p>
</footer>
</html>